<!DOCTYPE html>
<html lang="en">
  <!-- This is an HTML5 template -->
  <head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/desktop.css">
    <link rel="author" href="humans.txt" />
  </head>
  <body>
    <!--
      Modenizr detects a browsers HTML5 capabilities and provides polyfills!

      Nice new tags:
        - section, article
        - figure>figcaption
        - form (google "state of html5 forms" for more information)
          - input -> attributes
            - type: email, url, tel, color, search (+ results),
              number, range (+ min/max)
            - required
            - pattern (regex) (? should validation syntax be part of HTML ?)
            - placeholder (preset text, disappears on focussing the input)
          - progress, meter (+ min/max)
    -->
    <header>
      <nav>
        <%
          var currentPage = filename.slice(filename.lastIndexOf('/') + 1,
                                           filename.lastIndexOf('.'));
        %>
        <ul>
          <% for (var page in pages) { %>
            <li><a href="/<%= page %>"
              <% if (currentPage === page ) { %>class="current"<% } %>
            ><%= pages[page] %></a></li>
          <% } %>
        </ul>
    </nav>
    </header>
    <!--
      <main> is HTML 5.1
      a) Browser knows main => Block with semantic
      b) Browsers doesn't know main => Make it a block through style,
         give it semantics through role (transitional)
      New: <main style="display: block" role="main"></main>
      Alternative: <div role="main"></div>
    -->
    <!-- <div class="debug">
      <h1>DEBUG</h1>
      <ul><% for (var elem in locals) { %>
          <li><%= elem %> &gt; <%= locals[elem] %></li>
        <% } %></ul>
      <hr style="border: 1px solid black;">
    </div> -->
    <main role="main">
      <% if (typeof error !== 'undefined') { %>
        <h1>Error</h1>
        <p>The following error occured:</p>
        <p><%= error %></p>
      <% } %>
