<% include layouts/top %>
<% if (typeof error === 'undefined') { %>
  <h1><%= userid %></h1>
  <p>Tags: <% for (var t in tags) { %><a href="#"><%= tags[t] %></a>, <% } %></p>
  <p>Fälle eröffnet:
    <a href="/cases/23">23</a>
  </p>
  <h1>An <%= cases.length %> Fällen beteiligt</h1>
  <p>
    <ul><% for (var c in cases) { %>
      <li><a href="/cases/<%= cases[c] %>"><%= cases[c] %></a></li>
    <% } %></ul>
  </p>
  <h1>Sonstiges</h1>
  <p>Mitglied seit: <%= since %></p>
<% } %>
<% include layouts/bottom %>