<h1>Issues for <%= repo %></h1>
<ul>
  <% _.each(branches, function (branch) { %>
    <li>
      <a href="" id="<%= branch.name %>"><%= branch.name %></a><br>
      Last update: <%= branch.committer.date %> from <%= branch.committer.name %>
    </li>
  <% }); %>
</ul>