<p><%= message %></p>
<p class="citeAuthor">&mdash; <%= author.name %> @ <%= author.date %></p>
<form action="#" class="hidden">
  <input type="hidden" name="sha" value="<%= sha %>">
  <input type="hidden" name="tree" value="<%= tree.sha %>">
  <% if (typeof head !== 'undefined') { %>
    <input type="hidden" name="head" value="<%= head %>">
  <% } %>
</form>