<p><%= message %></p>
<p class="citeAuthor">&mdash; <%= author.name %> @ <%= author.localeDate %></p>
<form action="#" class="hidden">
  <input type="hidden" name="sha" value="<%= sha %>">
  <input type="hidden" name="tree" value="<%= tree.sha %>">
</form>